{
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #222b37;
    text-align: center;
    color: white;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    text-align: center;
    background: #222b37;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #222b37;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.table {
    text-align: center;
    background-color: #222b37;
    color: white;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #737070;
    color: black;
}

.center {
    text-align: center;
}

.table {
    text-align: center;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #222b37;
    margin-top: 20px;
}
