<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/movies.css" />
    <title>Director overview</title>
</head>
<body>

<div class="topnav">
    <a th:href="@{/movie}">Home</a></a>
    <a th:href="@{/director}">Directors overview</a></a>
    <a th:href="@{/movie/add}">Add movie</a>
    <a th:href="@{/logout}">Log out</a>
    <p sec:authorize ="hasRole('ADMIN')"> <a th:href="@{/user/new}">Add User</a></p>
</div>


<h1>Overview of existing Directors</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th># of movies</th>

    </tr>
    <tr th:each="directorDetail: ${allDirectors}">
        <td th:text="${directorDetail.directorId}" />
        <td th:text="${directorDetail.directorName}" />
        <td th:text="${directorDetail.numberOfMovies}" />
    </tr>
</table>

<h1>Create a new Director</h1>
<form th:action="@{/director/add}" th:object="${director}" method="post">
    <p>Name: <input type="text" th:field="*{directorName}" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>

<p>
    <a th:href="@{/movie}">Movie overview</a>
</p>

<div class="footer">
    <p>Copyright MovieTime 2020 </p>
</div>
</body>
</html>